<!doctype.html>
<html>
<head>
  <meta charset="utf-8">
  <link href="static/main.css" rel="stylesheet">
  <link href="static/media.css" rel="stylesheet">
  <title>Weather App</title>
  <script src='/axios/axios.js'></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
  <h1 class='t'>Weather Forecast</h1>
  <form id="toggle">
               <button type="button" id="cel" class="inactive" onclick="SetCelsius();">&deg;C</button>
               <button type="button" id="far" class="inactive" onclick="SetFahrenheit();">&deg;F</button>
           </form>
           <article>
               <section id="weather">
                   <img alt="loading" id="spinner" src="assets/spinner.gif">
               </section>
               <section id="forecast">
                   <noscript>This application requires JavaScript to function. Please enable scripts in your browser.</noscript>
               </section>
           </article>
  <div class='row'>
    <div class='input'>
  <input id='temp'/>
</div>
<div class='submit-button'>
  <button class=''type='submit' id='submit'>Submit</button>
</div>
<form>

</form>
</div>
  <div id='results'></div>
  <script src="/static/main.js"></script>
</body>
</html>
